@charset "utf-8";

body {
  background-color: blue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  color: black;
  padding: 0;
  margin: 0 auto;
  width: 80%;
}

h1,
h2 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

div#avantBarre,
#titre {
  text-align: center;
}

#avantBarre img,
#avantBarre a {
  display: inline-block;
  vertical-align: middle;
}

#avantBarre a {
  color: grey;
  text-decoration: underline 2px;
  text-decoration-color: red;
  margin-top: 20px;
}

#avantBarre a:hover {
  color: aqua;
}

#avantBarre img,
#apresBarre img {
  border-radius: 15px;
  ;

}

.h22 {
  color: grey;
  text-decoration: underline 2px;
  text-decoration-color: red;
  margin-top: 10px;
}

#par1,
s #par2 {
  text-align: justify;
}

#par2 ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  background-color: crimson;
  margin: 0px 10px;
  padding: 15px;
  border-radius: 5px;
}

#liens {
  text-align: left;

}


#liens a {
  text-align: left;
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
}

#tableaux {
  width: 320px;
  margin: 0 auto;
}


th , td{
  border: none;
}

#tableaux caption {
  font-style: italic;
  text-decoration: underline;
  font-size: 20px;
  padding: 10px;
}

.col4 {
  padding: 10px;
}

#tableaux button {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 12px;
  height: 50px;
  width: 100%;
  border: none; 
}
#tableaux button:hover{
  color: aqua;
}